* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8ebe9;
}

.container {
    width: 1010px;
    height: 640px;
    margin: 29px;
    margin-bottom: 50px;
    background-color: #fff;
    display: flex;
}

.box-header {
    background-image: url(./img/background.jpg);
    background-size: cover;
    width: 361px;
}

.href-logo {
    display: flex;
    gap: 4px;
}

.button {
    background: none;
    border: none;
    padding-top: 36px;
    padding-left: 32px;
}

.back-btn:hover {
    color: black;
    transition: 0.2s;
}

.href-logo {
    text-decoration: none;
    align-items:center;
    color: #5d5d5e;
    font-weight: 500;
    font-size: 15px;
}

.sitenav {
    margin-left: 370px;
    margin-top: 38px;
}

.sitenav-list {
    display: flex;
    list-style: none;
    gap: 33px;
    font-weight: 500;
    font-size: 14px;
}

.sitenav-link {
    text-decoration: none;
    color: #8b8b8c;
}

.sitenav-link:hover {
    color: black;
    transition: 0.2s;
}

.sitenav-text {
    margin-top: 121px;
    margin-left: 104px;
}

.visting-one {
    display: flex;
    align-items:center;
}

.line-one {
    width: 100px;
    height: 3px;
    margin-top: 60px;
    background-color:black;
}

.visting-the {
    width: 250px;
    height: 120px;
    font-size: 3em;
    font-weight: 500;
    font-family: serif;
}

.visting-text {
    font-size: 18px;
    font-weight: 500;
    width: 260px;
    margin-top: 20px;
    color:#2c1818;
}

.sitenav-img {
    background-image:url(./img/preview.jpg);
    background-size: cover;
    position: absolute;
    padding: 60px 90px;
    margin-top: 30px;
    margin-left: 102px;
}

.play-img {
    background-color: #dbdbe0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.button-end {
    margin-top: 200px;
    margin-left: 102px;
    background: none;
    border: none;
}

.href-logo__btn {
    text-decoration: none;
    align-items:center;
    display: flex;
    color:#020202ad;
}

.href-logo__btn:hover{
    color: black;
    transition: 0.2s;
}

.as-your {
    width: 225px;
    height: 137px;
    line-height: 30px;
}

.sitenav-direvi__info {
    display: flex;
    align-items: center;
}

.towin-form {
    margin-left: 113px;
    margin-top: 4px;
}